/* uniqe style  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"roboto";
   
}

/* header style start  */
.header{
    width: 80%;
    margin: 0 auto;
    background-color: rgb(239, 243, 246);
    display: flex; 
    justify-content: space-between;
    margin-top: 20px;
}
.logo{

    font-size: 20px;
    font-weight: 750;
    color: rebeccapurple;
    margin-left: 30;
}
.logo p{
    font-weight: 600;
    margin-left: 40px;
    margin-top: 0px;
}
.navbar{
    display: flex;
    flex-direction: row;
    margin: 20px;
}
.navbar li {
    list-style: none;
    
}
.navbar li a{
    font-weight: 600;
    text-decoration: none;
    font-size: 17px;
    padding:30px ;
}

/* --------------
main file start  
-----------------*/

/* section brand details  */

.brand-details{
    background-color: rgb(239, 243, 246);
    width: 80%;
    margin: 0 auto;

}
.details-title{
  right: 100px;
  left: 100px; 
  top: 159px;
  text-align: center;

}
.details-title h2{
    font-size: 35px;
    font-weight: 700px;
    text-align: center;
    margin-bottom: 10px;    
}
.details-title p{
    font-size: 15px;
    font-weight: 500;
    margin: 20px;

}
.btn{
    padding: 15px;
    background-color: orange;
    color: black;
    margin:79px 0 ;
    font-size: 18px;
}
.banner .image{
    width: 90%;
    /* height: 400px; */
    margin: 0 auto;
}

/* Our  feature section style start  */

.our-features{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feature-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin: 30px;
}

.features-title{
    font-size: 30px;
    font-weight: 400px;
    color: gray;
    margin-bottom: 10px;
    padding-left:10px ;

}
.span-1{
    color: black;
}
.span-2{
    color: orange;

}
.description{
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 8px;
}

/* love and enjoy section style  */

.love-enjoy{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
}
.experiens{
    text-align: center;
    height: 100px;
    width: 120px;
    background-color: orange;
    border-radius: 5px;
    position: relative;
    bottom: 50px;
    left: 50px;
}
.exp{
    font-size: 22px;
}
.version-name{
    /* font-size: 29px; */
    font-weight: 700;
    margin-bottom: 16px;
    border-left: 4px solid orange;
    padding-left:15px ;

}
.version-quality h1{
    font-size: 18px;
}
.version-quality .version-name, .version-details{
    border-left: 6px solid orange;
}
.version{
    background-color: rgb(194, 195, 197);
    border-radius: 10px;
    margin: 20px;

}
.version-count{
    margin-top: 100px;
}
.figure img{
    width: 100%;
    height: 100%;
}


/* something other section style  */

.somethig-others{
    width: 80%;
    margin: 0 auto;


}
.something-others h1{
    font-size: 30px;
    margin-left:40px ;

}
.something-others p{
    font-size: 16px;

}
.there{
    font-size: 50px;
    margin-top: 0px;
    text-align: left;
}
.some-facts{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    grid-gap: 39px;
    
    
}

.box{
    height: 200px;
    width: 150px;
    padding: 30px;
    border: 1px solid black;
    margin: 16px;
    transform: rotate(360deg);
}
.box:hover{
    background-color: green;
    cursor: pointer;
    width: 180px;
    height: 230px;
    text-align: center;
    transition: 1.5rem;
}
.box h3{
    font-size: 30px;
    font-weight: 600;

}
.box p{
    font-size: 14px;

}


/* sponser brand design style  */

.sponsor-brand{
    width: 70%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.sponsors{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 20px;
    justify-content: space-between;
    margin: 40px;
}

.sponsor-title h1,p{
    text-align: center;
    margin: 30px auto;
    
}
.sponsor-title h1{
    font-size:30px ;
}
.sponsor-title p{
    font-size:19px ;
}
.sponsor img{
    height: 40px;
    width: 90px;
}
.sponsor{
    margin: 0 auto;
}

/* extra section style  */

.tour{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    grid-gap: 30px;
    margin: 0 auto ;
}
.tour-place{
    background-color: rgb(225, 231, 231);
    border: 1px solid;
}

.tour-title{
    font-size: 40px;
    text-align: center;
    margin:40px 0;
    color: rgb(120, 37, 54);
}
.place-image{
    height: 300px;
    width: 300px;
    display: block;
    margin: auto;
    border-radius: 50%;

}
.place-name{
    margin: 15px;
    font-weight: 700;
    font-size: 30px;
}
.about-place{
    font-size: 17px;
    left: 0;

}

/* footer style  */
.footer{
    width: 80%;
    background-color: rgb(203, 169, 124);
    height: 50px;
    margin: 40px auto;
    font-size: 10px;
    text-align: center;
    padding-top: 10px;

}

/*-------------------
media quaries start  
----------------------*/

/* mobile device  */

@media screen and (max-width:576px) {
    *{
        margin: 0;
    }
/* header responsive start  */
    /* .header{
        width: 100%;
    } */
    .logo{

        font-size: 30px;
        font-weight: 750;
        
    } 
    /* navbar responsive  */
    .navbar{
        display: flex;
        flex-direction: column;
    }
    .navbar li a {
        font-weight: 200;
        font-size: 17px;
        position: relative;
        left: 30px;
    }

    /* first section brand details responve start  */
    
    .details-title-heding{
        font-size: 45px;
        font-weight: 700px;   
    }
    /* .banner img{
        width: 100%;
    } */

    /* .brand-details{
       width: 100vw;
    } */
    /* .banner .image{
        width:100%;
        height: 400px;
        margin: 30px;
    } */

    /* our feature section start */
    .our-features{
        flex-direction: column-reverse;
        text-align: center;
    }
    .feature-images{
    
        grid-template-columns: repeat(1, 1fr);
    }
    .image img{
        height: 100%;
    }
        /*  */

    .love-enjoy{
        display: flex;
        flex-direction:column;

    }
    .figure img{
        width: 100%;
    }
    .experiens{
        left: 180px;
        top: 30px;
    }
    .exp{
        font-size: 23px;
    }
        /*  some effect section start */

    .some-facts{
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        text-align: center;
        margin: 200px;
        

    }
    .there{
        margin: 30px;
    }
    
    /* sponser section start */

    .sponsors{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 50px;
        justify-content: center;
        align-items: center;
    }

    /* extra section style  */

    .tour{
        grid-template-columns: repeat(1,1fr);
    }


    /*  footer start*/
    /* .footer{
        width: 100%;
    } */

}

